body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.headlogo {
    font-size: 24px;
    color: #F9FAF8;
}
.header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
    padding-left: 24px;
}

ul {
    list-style: none;
    display: inline-flex;
    gap: 12px;
    margin-right: 8px;
    align-self: center;
    font-size: 18px;
    color: #E5E7EB;
}

.midsection1 {
    display: flex;
    background-color: #1F2937;
    padding: 10px 24px 24px 24px;
    justify-content: center;
}

.ms1head {
    color: #F9FAF8;
}

.ms1left {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.ms2h {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}
.midsection2 {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.lower2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
}

.lower2info {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.lower2pic {
    display: flex;
    gap: 32px;
    justify-content: center;
}
.under {
    width: 150px;
    color: #1F2937;
}

.midsection3 {
    display: flex;
    flex-direction: column;
    padding: 100px 150px 100px 150px;
    background-color: #E5E7EB;
}

.thor {
    font-size: 36px;
    color: #1F2937;
}

.midsection4 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 56px; padding-bottom: 56px;
}

.signupbox {
    height: 125px;
    background-color: #3882F6;
    border-radius: 12px;
    padding: 12px;
    color: #E5E7EB;
    display: flex;
    gap: 24px;
    min-width: 600px;
}

.button4 {
    height: 48px;
    align-self: center;
    border-color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 12px;
}

p {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 8px;
    border-radius: 10px;
    border-color: #1F2937;
    width: 150px;
}

img {
    border-radius: 12px;
    box-shadow: #1F2937;
}